@import "./global.css";
@import "./welcome.css";
@import "./login.css";
@import "./navbar.css";
@import "./tweet.css";
@import "./profile.css";
@import "./trends.css";
@import "./users.css";
@import "./tweets.css";