.welcome {
    display: flex;
    flex-direction: column;
    background-color: var(--maingreen);
    height: 100vh;
    color: white;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px;
}

.name {
    cursor: pointer;
    font-family: 'Roboto Flex', sans-serif;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}

.message {
    display: flex;
    height: 20rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}

.message .h {
    font-size: 45px;
    word-spacing: 10px;
    letter-spacing: 1px;
    padding: 20px;
    font-weight: 500;
}

.message .p {
    font-size: 20px;
    font-style: italic;
    width: 400px;
}

.signin {
    text-align: center;
}

.signin button {
    color: white;
    background-color: var(--maingreen);
    border: 1px solid white;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    cursor: pointer;
    font-size: 20px;
}